/* Initial body */
body {
  left: 0;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  color: white;
  background: #202024;
  left: -250px;
  height: 100%;
  position: fixed;
  width: 250px;
}

/* Basic styling */

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: white;
  font-size: 15px;
}

.icon-close {
  cursor: pointer;
  padding: 10px;
}

.icon-menu {
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}

.icon-menu i {
  margin-right: 5px;
}